#img_left,#img_right{position: fixed;top: 250px;z-index: 100; text-align:center;}
#img_left a,#img_right a{ display:block; width:60px; height:35px; background:#a88fc5; text-decoration:none; color:#FFF;padding-top:15px;}
#img_left {left:0;}
#img_right {right:0;}

.hob_select_box {
	width:46%;
	margin: 25px auto;
	-webkit-box-shadow: 0 0 19px rgba(0,0,0,0.65);
	-moz-box-shadow: 0 0 19px rgba(0,0,0,0.65);
	box-shadow: 0 0 19px rgba(0,0,0,0.65);
	padding: 10px 20px;
	background-color: #FFF
}
.hobby_logo img
{
	display:block;
	margin:auto;
}
.hobby_name
{
	text-align:center;
}
.mrt20{ margin-top:20px;}
.hobby_name{font-family:Tahoma, Geneva, sans-serif !important;}
.profile_photo_space{ width:205px;height:225px; background-color:#dbeef4; margin:auto; padding:5px;border:#96cfde solid 2px;  }
.profile_photo_space_inner{ border:#96cfde dashed 2px; height:220px;}
.profile_photo_up{ width:270px; margin: 10px auto;}
.profile_photo_input{ width:190px !important;}
.photo_crop{ background-color:#dbeef4; width:420px; margin:auto; height:370px; border:#afdae6 solid 2px;}
.photo_crop_link{ margin: 10px auto;}
/* Large desktop */
@media (min-width: 1200px) {
.hob_select_box {
	width:58%;
}
.profile_photo_input{ width:190px !important;}
.photo_crop{width:420px;height:370px;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.hob_select_box {
	width:48%;
}
.profile_photo_input{ width:190px !important;}
.photo_crop{width:auto;height:370px;}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.hob_select_box {
	width:58%;
}
.profile_photo_input{ width:190px !important;}
.photo_crop{width:auto;height:220px;}
}

/* Landscape phones and down */
@media (max-width: 480px) {
.hob_select_box {
	width:73%;
}
.photo_crop_link{width:200px;}
.photo_crop{width:auto;height:220px;}
.profile_photo_up{ width:200px !important;}
.profile_photo_input{ width:125px !important;}
.profile_photo_space{ width:180px;}
}
